@layout('layouts.master')

@section('content')
<div id="page-content">
    <!-- Navigation info -->
    <ul id="nav-info" class="clearfix">
        <li><a href="/"><i class="fa fa-home"></i></a></li>
        <li class="active"><a href="">Cuentas</a></li>
    </ul>
</div>
@endsection