<footer>
    <span id="year-copy"></span> &copy; <strong><a href="https://1.envato.market/7jd">XXXXX</a></strong> - Desarrollado con <i class="fa fa-heart text-danger"></i> por <strong><a href="https://1.envato.market/ydb" target="_blank">danieljtorres</a></strong>
</footer>